/* INDEX */
/*aca empieza header*/
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(231, 216, 195);
    height: 80px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 0px 50px;
}
.logo{
    height: 80px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: rgb(145, 24, 24);
    font-size: 17px;
    padding: 5px 5px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}
li a:hover{
    color: #ED1B3B;
}

.checkbtn{
    font-size: 30px;
    color: rgb(145, 24, 24);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*aca empieza main*/
.inicio{
    // display: flex;
    // flex-direction: column;
    // justify-content:center;
    height: 500px;
    background-image: url("../Media/plato2.jpg");
    background-size: 100%;
    background-position:center;

    .inicio__fondoImagen{
        display: flex;
        width: 100%;
        flex-direction: row;
        background-color: rgba(231, 216, 195, 0.514);
        align-content: center;
        justify-content: center;
        transform: translateY(90%);
        padding-right: 5%;
        padding-left: 5%;

    }
    .inicio__fondoImagen p{
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.7em;
        color: rgb(145, 24, 24);
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

/*aca empieza footer*/
footer{
    background-image: linear-gradient(rgb(167, 26, 26), rgb(133, 18, 18)) 
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__consultas{
        color: white;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
    }
    &__contact{
        background-color: white;
        height: auto;
        width: 50%;
        justify-items: center;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 25%;
        margin-right: 25%;
    }

}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2%;
    height: 5%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    &__seguir{
        font-size: 20px;
    }

    a{
        color:rgb(231, 216, 195);
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;

    }
    a:hover{
        color: white;
    }

    &__despedida{
        color: white;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 70px;
        padding-bottom: 3%;
    }
}
/* Pagina Protocolos Covid*/
/*aca empieza main*/

@mixin fondo {
    background-color: burlywood;
    padding: 0;
    margin: 0;
}
.cuerpo{
    @include fondo()
}
.covid{
    li{
        list-style:disc;
        margin-left: 3%;
        margin-right: 3%;
        color: rgb(145, 24, 24);
        font-family: 'Montserrat', sans-serif;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
        font-weight: bolder;
        p{
            color: black;
            padding-bottom: 5px;
            font-size: 17px;
            font-weight: normal;
        }
    }
}
.cocinaProtoc{
    margin: auto;
    display: block;
    height: 450px;
    width: 750px;
}


/* Pagina Conocenos*/
/*aca empieza main*/
.chef{
    list-style:disc;
    margin-left: 3%;
    margin-right: 3%;
    color: rgb(145, 24, 24);
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: bolder;
}
.formacionProfesional{
    margin: 2% 5% 2% 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr 2fr 2fr;
    grid-template-areas: "texto texto texto imagen"
                         "textoDos textoDos textoDos imagen"
                         "textoTres textoTres textoTres imagen"
                         "textoCuatro textoCuatro textoCuatro otraImagen";
}
.formacionUno{
    grid-area: texto;
    color: black;
    padding-bottom: 5px;
    font-size: 19px;
    font-weight: normal;

}
.formacionDos{
    grid-area: imagen;
}
.formacionTres{
    @extend .formacionUno;
    grid-area: textoCuatro;
}
.formacionCuatro{
    grid-area: otraImagen;
}
.formacionCinco{
    @extend .formacionUno;
    grid-area: textoDos;
}
.formacionSeis{
    @extend .formacionUno;
    grid-area: textoTres;
}

/* Pagina Servicios*/
/*aca empieza main*/
h2{
    color: rgb(145, 24, 24);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 0.5%;
    padding-left: 3%;
    padding-bottom: 1%;
}
.columna-3{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}
.column{
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px 0px 8px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    height: 500px;
}
.container{
    padding: 0 16px;
}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
.title{
    color: grey;
}
.button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    
}
.button:hover {
    background-color: #555;
}
.veggie{
    color: rgb(145, 24, 24);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    padding-left: 10%;
    padding-bottom: 1%;
}

/* Pagina Galeria*/
/*aca empieza main*/
.galeriaCarousel{
    padding: 2% 5% 2% 5%;
}
.d-block w-100{
    width: 100px;
}

.carouselTitulo{
    color: rgb(145, 24, 24);
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(248, 246, 242, 0.685);
    width: 230px;
    height: 30px;
    text-align: center;
    display: block;
    padding-top: 0.5%;
    position:static;
    
}
.carouselDescription{
    color: rgb(145, 24, 24);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(231, 216, 195, 0.747);
    font-weight: bold;
    margin: 0 auto; 
    padding: 10px;
    width: auto;
    position:static;
    text-justify: center;
    text-align: center;
}


/* Pagina Error 404*/

.errorNavegacion{

    h1{
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 50px;
        font-family: sans-serif;
        text-align: center;
        color: black;
        font-weight: bolder;
    }
    &__full{
        margin: auto;
        display: block;
        visibility: visible;
    }
    &__mobile{
        margin: auto;
        display: none;
        visibility: hidden;
    }
    p{
        font-size: 24px;
        font-weight: normal;
        color:black;
        text-align: center;
    }
}
.volverAlMenu{
    text-align: center;
    display: block;
    font-size: 20px;
}

/* aplico mobile first hasta 620px                                */
@media only screen and (max-width:620px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: burlywood;
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }

    nav ul li{
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 50px;
    }
    li a:hover, li a.active{
        background-color: rgb(145, 24, 24);
        color: rgb(255, 255, 255);
    }
    #check:checked ~ ul{
        right: 0;
    }



    .redes{
        &__seguir{
            font-size: 15px;
        }
        &__despedida{
            color: white;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 50px;
            padding-bottom: 3%;
        }
    }
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__consultas{
            color: white;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 35px;
        }

        &__contact{
            background-color: white;
            height: auto;
            width: 70%;
            justify-items: center;
            align-items: center;
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 15%;
            margin-right: 15%;
        }
    }
    .inicio__fondoImagen{
        visibility: hidden;

    }

    /* aplica a pagina covid*/
    .covid li{
        text-align: center;
        p{
            text-align: left;
        }
    }
    .column {
        width: 90%;
        display:block;
        align-items: center;
    }
    .errorNavegacion{
        &__full{
        margin: auto;
        display: none;
        visibility: hidden;
        }
        &__mobile{
        margin: auto;
        display: block;
        visibility: visible;
        }
    }
    .cocinaProtoc{
        margin: auto;
        display: block;
        height: 100%;
        width: 80%;
    }

/* aplico a pagina Conocemos                                    */
    .formacionProfesional{
        margin: 2% 5% 2% 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 4fr 1fr 1.5fr 3fr;
        grid-template-areas: "texto texto texto imagen"
                            "textoDos textoDos textoDos textoDos"
                            "textoTres textoTres textoTres textoTres"
                            "textoCuatro textoCuatro textoCuatro otraImagen";
    }

}

/* aplico a pagina Error                                          */
.errorNavegacion{
    h1{
        padding-top: 10%;
    }
}

/* aplico a pagina Servicios                                          */
.columna-3{
    display: flex;
    flex-wrap: wrap;
}

/* aplico mobile first desde 800px                                */
@media only screen and (max-width:800px){
    /* aplica a pagina Home*/
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__consultas{
            color: white;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 42px;
        }

        &__contact{
            background-color: white;
            height: auto;
            width: 70%;
            justify-items: center;
            align-items: center;
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 15%;
            margin-right: 15%;
        }
    }
/* aplico a pagina Error                                          */
    .errorNavegacion{
        h1{
            padding-top: 7%;
        }
    }

/* aplico al navbar                                               */    
    nav ul li a{
        font-size: 12px;
        padding: 5px 5px;
    }
}

/* aplico mobile first desde 768px                                */
@media only screen and (min-width:768px){
/* aplico a pagina Error                                          */
    .errorNavegacion{
        h1{
            padding-top: 4%;
        }
    }
    .columna-3{
        display: flex;
        flex-direction: column;
    }
}
